.main--wrapper
  .container--comics
    %h2 漫画一覧
    %p.sentence 画像をクリックすると名場面一覧が表示されます。
    %ul
      - @comics.each do |comic|
        = link_to comic_scenes_path(comic) do
          %li
            = image_tag comic.image_url,size:"250x300"
            %h3
              = comic.title
            