.container--scenes{
  height:100%;
  padding:40px 40px 100px 40px;
  h2{
    @include h2style;
  }
  
  &__list{
    margin-top:50px;
    li{
      margin: 0 auto;
      border: 1px solid #EEFFFF;
      margin-bottom:30px;
      display: flex;
      width:800px;
    }
    .user--scene--image{
      height:250px;
    }
    .user--scene--contents{
      width:600px;
      text-align:center
    }
    h3{
      text-align: center;
      padding:10px 0;
      font-size: 20px;
      font-weight: bold;
      color:#FFBBFF;
    }
    .scene--comic--username{
      text-align: center;
      color:white;
      padding-bottom:10px;
    }
    .scene--comic--content{
      border-top:1px solid white;
      color:white;
      padding:10px;
    }
    .iine--content{
      text-align: center;
    }
    .icon{
      color:white;
      display:inline-block;
      
    }
    .iine--button{
      display: inline-block;
      margin:0 auto;
      color:white;
      &:hover{
        color:red;
      }
    }
    span{
      color:white;
    }
  }
}